@import "../../../node_modules/antd/dist/antd.css";

.main-content{
  background:#fff;
}

.sider{
  /*width: 14.93%;*/
  background: #F7F7F7;
  min-height: 100vh;
}

.spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pagination{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.ant-pagination-item-active{
  background: #1890FF;
  border-radius: 4px;
}
.ant-pagination-item-active a{
  color: #fff
}