.menu{
    text-align: center;
}

.menu__item{
    display: inline-block;
}

.menu__item li{
    margin: 0 !important;
    padding: 0 20px !important;
}

.menu__form{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 12px;
}