.menu{
    text-align: center;
}

.menu__item{
    display: inline-block;
}

.menu__form{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 12px;
    /*text-align: center;*/
}

/*.menu-input {*/
/*    width: 92%;*/
/*}*/