.movie {
    width: 450px;
    /*height: 300px;*/
    padding: 0;
    display: flex;
    box-shadow: 5px 5px 9px -10px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*.movie:nth-child(1),*/
/*.movie:nth-child(2){*/
/*    margin-top: 32px;*/
/*}*/

.movie__content {
    padding: 10px 10px 10px 15px;
    font-size: 0.8rem;
}

.movie__content-head{
    display: flex;
    justify-content: space-between;
}

.movie__image{
    max-width: 200px;
    max-height: 300px;
}

.movie__genre{
    display: flex;
    flex-wrap: wrap;
}

.movie__genre-item{
    margin: 1px 8px 2px 0;
}

.movie__rate{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
}

@media(min-width: 1283px) {
    .movie:nth-child(2){
        margin-top: 20px;
    }
}

@media screen and (max-width: 460px) {
    .movie {
        display: block;
        padding: 10px;
    }
    .movie__image {
        width: 60px;
        height: 90px;
        text-align: center;
        line-height: 90px;
        float: left;
        margin-right: 10px;
    }
    .movie__image img {
        width: 60px;
    }
    .movie__content {
        padding: 0;
    }
}
